<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/main" ><ion-icon name="home"></ion-icon> Inicio</ion-item>
    
      <!-- Mostrar si el usuario es administrador -->
      <ion-item *ngIf="isUserAdmin()" routerLink="/admin">Panel de administración</ion-item>
     
        <ion-item routerLink="/ubication"><ion-icon name="navigate-outline"></ion-icon>Ubicaciones</ion-item>       
        <ion-item routerLink="/asociados"><ion-icon name="people"></ion-icon> Asociados</ion-item>
        <ion-item routerLink="/dietas"><ion-icon name="fast-food"></ion-icon> Dietas</ion-item>
        <ion-item routerLink="/pago"><ion-icon name="card"></ion-icon> Pagos</ion-item>
        <ion-item routerLink="/tutoriales"><ion-icon name="videocam"></ion-icon> Tutoriales</ion-item>
        <ion-item routerLink="/checkin"><ion-icon name="shield-checkmark"></ion-icon> Check-in</ion-item>
        <ion-item (click)="signOut()" ><ion-icon name="log-in"></ion-icon> Cerrarr Sesion</ion-item>
      <!-- Agrega más elementos de menú aquí -->
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/main"></ion-back-button>
      </ion-buttons>
      <ion-title>Reserva de hora</ion-title>
    </ion-toolbar>
  </ion-header>
 
<!-- reservas.page.html -->

<ion-content>
 
</ion-content>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Información de Fechas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar la fecha formateada -->
  <ion-item>
    <ion-label>Fecha Formateada:</ion-label>
    <ion-note>{{ formattedDate }}</ion-note>
  </ion-item>

  <!-- Mostrar la fecha analizada -->
  <ion-item>
    <ion-label>Fecha Analizada:</ion-label>
    <ion-note>{{ parsedDate | date: 'dd/MM/yyyy' }}</ion-note>
  </ion-item>

  <!-- Mostrar la diferencia de días -->
  <ion-item>
    <ion-label>Diferencia de Días:</ion-label>
    <ion-note>{{ daysDifference }}</ion-note>
  </ion-item>
</ion-content>
<ion-footer  [translucent]="true" class="ion-no-border">
  <ion-toolbar class="img-container" color="light">
    <div class="imaCenter">
       <img  src="assets/icon/TBC1.png" width="50" height="50" />
    </div>     
  </ion-toolbar>
</ion-footer>
</div>

