ion-toolbar{
    background-color: var(--ion-color-mycolor);
}
.imaCenter{
    text-align: center;
    position: relative;
}.text-center{    
    text-align: center;
    position: absolute;
    color: white;
    top: 35%;
    -webkit-text-stroke: 0.5px black;    
    font-size: 30px;   
}

.text-center2{    
    text-align: center;
    position: absolute;
    color: white;
    -webkit-text-stroke: 0.5px black;   
    top: 70%;        
    font-size: 30px;
    
    
    
}
.image{
    width: 100%;
    height: 87.6vh;
    display:run-in;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 5px;
    font-size: 3rem;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right,  transparent, rgba(180, 182, 184, 0.409) ),
     url("../../../assets/fotos/reserva.jpg");
  }
  
.select{
        text-align: center; /* Centra el contenido horizontalmente */
        position: relative;
        top: 30%;
        transform: translateY(-50%);
        
        
         
}
