

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/main"></ion-back-button>
      </ion-buttons>
      <ion-title>Reserva de hora</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content >   
    <div class="image">

    
    <div>
      <label class="text-center"><I>
        Selecione las opciones para realizar su reserva
      </I>
    </label>
       
     
    </div>  

    <ion-list >

      <ion-list >
        <ion-item class="Select">
          <ion-label>Elija gimnasio:</ion-label>
          <ion-select placeholder="Gimnasios" [(ngModel)]="selectedGym" (ionChange)="onGymChange()">
            <ion-select-option *ngFor="let gym of gyms" [value]="gym.title">{{ gym.title }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      
      <ion-list *ngIf="datesAvailable.length > 0">
        <ion-item>
          <ion-label>Fecha:</ion-label>
          <ion-select [(ngModel)]="selectedDate" (ionChange)="onDateChange()">
            <ion-select-option *ngFor="let date of datesAvailable" [value]="date">{{ date }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      
      <ion-list *ngIf="hoursAvailable.length > 0">
        <ion-item>
          <ion-label>Hora:</ion-label>
          <ion-select [(ngModel)]="selectedTime">
            <ion-select-option *ngFor="let hour of hoursAvailable" [value]="hour">{{ hour }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>   
      
      <ion-button expand="full" (click)="submitReservation()">Reservar</ion-button>
      </ion-list>
      <div class="imaCenter">
         <ion-button  (click)="goCheckin()" class="btn">Ver reservas</ion-button>
      </div>
     

      <label class="text-center2"><I>No olvides hacer tu check-in</I></label>
    </div>
  </ion-content>
  <ion-footer  [translucent]="true" class="ion-no-border">
    <ion-toolbar class="img-container" color="light">
      <div class="imaCenter">
         <img  src="assets/icon/TBC1.png" width="50" height="50" />
      </div>     
    </ion-toolbar>
  </ion-footer>
</div>


      
 
 





