<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/main" ><ion-icon name="home"></ion-icon> Inicio</ion-item>
    
      <!-- Mostrar si el usuario es administrador -->
      <ion-item *ngIf="isUserAdmin()" routerLink="/admin">
        <ion-icon name="person-circle-outline"></ion-icon>Panel de administración</ion-item>
    
        <ion-item routerLink="/ubication"><ion-icon name="navigate-outline"></ion-icon>Ubicaciones</ion-item>      
        <ion-item routerLink="/dietas"><ion-icon name="fast-food"></ion-icon> Dietas</ion-item>
        <ion-item routerLink="/pago"><ion-icon name="card"></ion-icon> Pagos</ion-item>
        <ion-item routerLink="/reservas"><ion-icon name="calendar"></ion-icon> Reservas</ion-item>
        <ion-item routerLink="/tutoriales"><ion-icon name="videocam"></ion-icon> Tutoriales</ion-item>
        <ion-item (click)="signOut()" ><ion-icon name="log-in"></ion-icon> Cerrarr Sesion</ion-item>
      <!-- Agrega más elementos de menú aquí -->      
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header >
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Check-in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="image">


<ion-title class="centrar">Reservas realizadas </ion-title>

<ion-card class="cardTransp">

  <ion-list>
  <ion-item *ngFor="let reserva of reservas">
    <!-- Muestra los detalles de la reserva -->
    
    <ion-label >
      Gimnasio: {{ reserva.gym }} <br>
      Fecha: {{ reserva.date }} <br>
      Hora: {{ reserva.time }}
    </ion-label>
    <!-- Agrega aquí cualquier otro contenido relacionado con el check-in -->
  </ion-item>
</ion-list>
</ion-card>


</div>
</ion-content>
<ion-footer  [translucent]="true" class="ion-no-border">
  <ion-toolbar class="img-container" color="light">
    <div class="imaCenter">
       <img  src="assets/icon/TBC1.png" width="50" height="50" />
    </div>     
  </ion-toolbar>
</ion-footer>
</div>