<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item color="mycolor" routerLink="/ubication"><ion-icon name="navigate-outline"></ion-icon>Ubicaciones</ion-item>
      <ion-item routerLink="/asociados"><ion-icon name="people"></ion-icon> Asociados</ion-item>
      <ion-item routerLink="/dietas"><ion-icon name="fast-food"></ion-icon> Dietas</ion-item>
      <ion-item routerLink="/pago"><ion-icon name="card"></ion-icon> Pagos</ion-item>
      <ion-item routerLink="/reservas"><ion-icon name="calendar"></ion-icon> Reservas</ion-item>
      <ion-item routerLink="/tutoriales"><ion-icon name="videocam"></ion-icon> Tutoriales</ion-item>
      <ion-item routerLink="/checkin"><ion-icon name="shield-checkmark"></ion-icon> Check-in</ion-item>
      <ion-item (click)="signOut()"><ion-icon name="log-in"></ion-icon> Cerrar Sesion</ion-item>


    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/login']" (click)="signOut()"><ion-icon  name="log-in"></ion-icon> </ion-button>
      </ion-buttons>
      <ion-title class="bienvenidos" ><i>Energy Vibes</i></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    
    <div class="image">
    <div class="">
    
    <ion-grid  ><img class="logo" src="assets/fotos/logo2.png" alt="Logo de la aplicación" width="200">
    
      <ion-row>
        <ion-col>
          <div id="container2">
            <button ion-button [routerLink]="['/asociados']" class="btn">
              <ion-icon name="person-outline"></ion-icon><br> Perfil</button>
          </div>
        </ion-col>
        <ion-col>
          <div id="container2">
            <button ion-button [routerLink]="['/reservas']" class="btn">
              <ion-icon slot="start" name="calendar"></ion-icon><br> Reservas</button>
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div id="container2">
            <button ion-button [routerLink]="['/dietas']" class="btn">
              <ion-icon slot="start" name="fast-food"></ion-icon> <br> Opciones de Dietas</button>
          </div>
        </ion-col>
        <ion-col>
          <div id="container2">
            <button ion-button [routerLink]="['/pago']" class="btn">
              <ion-icon slot="start" name="card"></ion-icon><br>Nuestros planes</button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div id="container2">
            <button ion-button [routerLink]="['/tutoriales']" class="btn">
              <ion-icon slot="start" name="videocam"></ion-icon> <br><br>Tutoriales <br></button>
          </div>
        </ion-col>
        <ion-col>
          <div id="container2">
            <button ion-button [routerLink]="['/asociados']" class="btn">
              <ion-icon slot="start" name="people"></ion-icon> <br>Gym Asociados</button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div id="container2">
            <button ion-button [routerLink]="['/ubication']" class="btn">
              <ion-icon name="navigate-outline"></ion-icon><br>Ubicaciones</button>
          </div>
        </ion-col>
      <ion-col>
          <div id="container2">
            <button ion-button [routerLink]="['/checkin']" class="btn">
              <ion-icon slot="start" name="walk-outline"></ion-icon><br> Check-in</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </div>
  </ion-content>
  <app-footer></app-footer>
</div>