.text-center{
    text-align: center;    
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.text-drop{
    position: relative;
    left: 10%;    
}
.select{
    text-align: center;    
    left: 0%;
    right: 0%;
    padding-left: 50px;       
}
.image2{
    text-align: center;
    position: relative;
    padding: 20px 30px 20px 30px;
    padding-top: 30px;     

}