<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/main" ><ion-icon name="home"></ion-icon> Inicio</ion-item>
    
      <!-- Mostrar si el usuario es administrador -->
      <ion-item *ngIf="isUserAdmin()" routerLink="/admin">Panel de administración</ion-item>
     
        <ion-item routerLink="/ubication"><ion-icon name="navigate-outline"></ion-icon>Ubicaciones</ion-item>       
        <ion-item routerLink="/asociados"><ion-icon name="people"></ion-icon> Asociados</ion-item>
        <ion-item routerLink="/dietas"><ion-icon name="fast-food"></ion-icon> Dietas</ion-item>
        <ion-item routerLink="/pago"><ion-icon name="card"></ion-icon> Pagos</ion-item>
        <ion-item routerLink="/reservas"><ion-icon name="calendar"></ion-icon> Reservas</ion-item>
        <ion-item routerLink="/checkin"><ion-icon name="shield-checkmark"></ion-icon> Check-in</ion-item>
        <ion-item (click)="signOut()" ><ion-icon name="log-in"></ion-icon> Cerrarr Sesion</ion-item>
      <!-- Agrega más elementos de menú aquí -->
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Tutoriales</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div>
      <h2 class="text-center">
        Video Tutoriales de ejercicos para ti 
      </h2>
    </div>
    <ion-list>
      <ion-item class="select">
        <ion-select [(ngModel)]="selectedOption" label="Seleccione una opción" label-placement="floating">
          <ion-select-option value="1">Déficit Calórico</ion-select-option>
          <ion-select-option value="2">Hiper Calórico</ion-select-option>
          <ion-select-option value="3">Celiacos</ion-select-option>
          <ion-select-option value="4">Otros</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div class="text-center">
      <ion-title >Videos para ayudar tu crecimiento</ion-title>
    </div>
  
  
    <!-- Mostrar el iframe del video si hay una opción seleccionada -->
    <iframe *ngIf="selectedOption" [src]="videoTutorial(videoUrl[selectedOption - 1])" width="100%" height="50%"></iframe>
    <br>
  
    <!-- Resto de tus iframes... -->
  
    <img src="assets/icon/Energy2.png" alt="Logo de la aplicación" width="250" class="image2">


  </ion-content>

</div>

