#map {
    width: 330px;
    height: 300px;  
    color: black;   
    transition: opacity 150ms ease-in;  
  }

  .text-center{
    text-align: center;    
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
ion-toolbar{
  background-color: var(--ion-color-mycolor);
}
.centrar{
  text-align: center;
}