

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/main"></ion-back-button>
      </ion-buttons>
      <ion-title class="centrar">Opciones de dietas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="image">
      <div class="text-center">
        <h1>Opciones de Dietas para tu entrenamiento</h1>
      </div>
      <ion-list>
        
      </ion-list>
      <ion-item class="select">
        <ion-list >
          <ion-select [(ngModel)]="seleccionOpcion" label="Opciones" (ionChange)="seleccionarDieta()">
            <ion-select-option *ngFor="let opcion of opcionesDietas" [value]="opcion">
              {{ opcion }}
            </ion-select-option>
          </ion-select>
        </ion-list>
      </ion-item>

      <ion-list class="video-pos" *ngIf="dietaSeleccionada">
        <ng-container *ngFor="let dieta of dietaSeleccionada | keyvalue; let i = index">
          <ion-item aria-label="Favorita dieta" value="Opciones">
            <ion-label class="dieta">
              <h1>Opción {{ i + 1 }}</h1>
              <h2>{{dieta.value.desayuno}}</h2>
              <p class="wrap-text">{{dieta.value.nombreDesayuno}} <br></p>
              <p>{{dieta.value.descripcionDesayuno}} <br></p>
              <p class="wrap-text">{{dieta.value.descripcion}} <br></p>
              <h2>{{dieta.value.almuerzo}} <br></h2>
              <p class="wrap-text">{{dieta.value.nombreAlmuerzo}} <br></p>
              <p class="wrap-text">{{dieta.value.descripcionAlmuerzo}} <br></p>
              <h2>{{dieta.value.meriendaTarde}}</h2>
              <p class="wrap-text">{{dieta.value.nombreMeriendaTarde}} <br></p>
              <p class="wrap-text">{{dieta.value.descripcionMeriendaTarde}} <br></p>
              <h2>{{dieta.value.cena}} <br></h2>
              <p class="wrap-text">{{dieta.value.nombreCena}} <br></p>
              <p class="wrap-text">{{dieta.value.descripcionCena}} <br></p>
              <h2>{{dieta.value.meriendaNocturna}} <br></h2>
              <p class="wrap-text">{{dieta.value.nombreMeriendaNocturna}} <br></p>
              <p class="wrap-text">{{dieta.value.descripcionMeriendaNocturna}} <br></p>
              <br>
            </ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
      
    </div>
  </ion-content>
  <ion-footer  [translucent]="true" class="ion-no-border">
    <ion-toolbar class="img-container" color="light">
      <div class="imaCenter">
         <img  src="assets/icon/TBC1.png" width="50" height="50" />
      </div>     
    </ion-toolbar>
</ion-footer>
</div>
