

<div class="ion-page" >
<ion-header >  
    <ion-toolbar color="mycolor" >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/main"></ion-back-button>
      </ion-buttons>
      <ion-title class="bienvenido">Gimnasios Asociados</ion-title>
    </ion-toolbar>  
</ion-header>

<ion-content>
  <div class="image">
  
    <h1 class="centrar">
      <i>Lista Gimnasios asociados
      </i>
    </h1>
 

    <ion-card class="cardTransp">
      <ion-list >
      <ion-item id="Lista" *ngFor="let gym of gyms">
      <ion-label >
        <h2 >{{gym.nombre}}</h2>
        <h3>{{gym.direccion}}</h3>
        <p>{{gym.horario}}</p>
      </ion-label>
    </ion-item>
    </ion-list>
    </ion-card> 
  
  </div>
</ion-content>
<ion-footer  [translucent]="true" class="ion-no-border">
  <ion-toolbar class="img-container" color="light">
    <div class="imaCenter">
       <img  src="assets/icon/TBC1.png" width="50" height="50" />
    </div>     
  </ion-toolbar>
</ion-footer>
</div>