<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/main" ><ion-icon name="home"></ion-icon> Inicio</ion-item>

        <ion-item routerLink="/ubication"><ion-icon name="navigate-outline"></ion-icon>Ubicaciones</ion-item>      
        <ion-item routerLink="/dietas"><ion-icon name="fast-food"></ion-icon> Dietas</ion-item>
        <ion-item routerLink="/pago"><ion-icon name="card"></ion-icon> Pagos</ion-item>
        <ion-item routerLink="/reservas"><ion-icon name="calendar"></ion-icon> Reservas</ion-item>
        <ion-item routerLink="/tutoriales"><ion-icon name="videocam"></ion-icon> Tutoriales</ion-item>
        <ion-item routerLink="/checkin"><ion-icon name="shield-checkmark"></ion-icon> Check-in</ion-item>
        <ion-item (click)="signOut()" ><ion-icon name="log-in"></ion-icon> Cerrarr Sesion</ion-item>
      <!-- Agrega más elementos de menú aquí -->      
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" >
<ion-header >  
    <ion-toolbar color="mycolor" >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/main"></ion-back-button>
      </ion-buttons>
      <ion-title class="bienvenido">Gimnasios Asociados</ion-title>
    </ion-toolbar>  
</ion-header>

<ion-content>
  <div class="image">
  
    <h1 class="centrar">
      <i>Lista Gimnasios asociados
      </i>
    </h1>
 

    <ion-card class="cardTransp">
      <ion-list >
      <ion-item id="Lista" *ngFor="let gym of gyms">
      <ion-label >
        <h2 >{{gym.nombre}}</h2>
        <h3>{{gym.direccion}}</h3>
        <p>{{gym.horario}}</p>
      </ion-label>
    </ion-item>
    </ion-list>
    </ion-card> 
  
  </div>
</ion-content>
<ion-footer  [translucent]="true" class="ion-no-border">
  <ion-toolbar class="img-container" color="light">
    <div class="imaCenter">
       <img  src="assets/icon/TBC1.png" width="50" height="50" />
    </div>     
  </ion-toolbar>
</ion-footer>
</div>