<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
    <ion-list>
      <ion-item routerLink="/main" ><ion-icon name="home"></ion-icon> Inicio</ion-item>
    
      <!-- Mostrar si el usuario es administrador -->
        <ion-item *ngIf="isUserAdmin()" routerLink="/admin">Panel de administración</ion-item>     
        <ion-item routerLink="/ubication"><ion-icon name="navigate-outline"></ion-icon>Ubicaciones</ion-item>       
        <ion-item routerLink="/asociados"><ion-icon name="people"></ion-icon> Asociados</ion-item>
        <ion-item routerLink="/dietas"><ion-icon name="fast-food"></ion-icon> Dietas</ion-item>
        <ion-item routerLink="/reservas"><ion-icon name="calendar"></ion-icon> Reservas</ion-item>
        <ion-item routerLink="/tutoriales"><ion-icon name="videocam"></ion-icon> Tutoriales</ion-item>
        <ion-item routerLink="/checkin"><ion-icon name="shield-checkmark"></ion-icon> Check-in</ion-item>
        <ion-item (click)="signOut()" ><ion-icon name="log-in"></ion-icon> Cerrarr Sesion</ion-item>
      <!-- Agrega más elementos de menú aquí -->
    </ion-list>
  </ion-content>


</ion-menu>

  
<div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar color="mycolor">        
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/main"></ion-back-button>
          </ion-buttons>
          <ion-title class="centrar">Planes</ion-title>
        </ion-toolbar>
        
      </ion-header>
      <ion-content>
        <div id="paypal-button-container"></div> 
      <div class="image"> 
        <div class="text-center2">
          <h1>
            <i>
              Nuestros productos
            </i>
          </h1> 
        </div>
          
       
        <ion-card >
        <ion-list class="cardTransp" >
          <ion-item id="Lista" *ngFor="let producto of productos">
            <ion-thumbnail slot="start">
            <img src="../../assets/icon/{{producto.image}}">
            </ion-thumbnail>    
          
            <ion-label >
            <h2 >{{producto.name}}</h2>          
            <p>{{producto.description}}</p>
            <h2 > ${{producto.valor}}</h2>
            <ion-button (click)="createPayPalOrder(producto.valor)">Comprar</ion-button>          
            </ion-label>        
          </ion-item>           
        </ion-list>   
      </ion-card>  
      
      
    
          
          
      <div class="image2">
        <img id="img" src="../../assets/productos/lista.json" alt="" width="200">  
      </div>
    
  <div class="text-center">
        <h6>
          <i>
            Todos nuestros productos tienen una duración de 30 días.
          </i>
        </h6> 
      </div>
    </div>
  
  </ion-content>
  <ion-footer  [translucent]="true" class="ion-no-border">
    <ion-toolbar class="img-container" color="light">
      <div class="imaCenter">
         <img  src="assets/icon/TBC1.png" width="50" height="50" />
      </div>     
    </ion-toolbar>
</ion-footer>
</div>

